pecifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Webstorm/Vscode/Sublime
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Logs and trash
npm-debug.log*
*~
*.sw[mnpcod]
*.log
*.tmp
log.txt
$RECYCLE.BIN/
tsconfig.tmp.json
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Build folders
.sass-cache/
.tmp/
*.tmp.*

# Coverege folders
config/coverage
coverage/*
dist/
tmp/
temp/

# Doc
doc/

# Dependencies
node_modules/
platforms/
plugins/
bower_components/

# Fastlane
fastlane/.env
fastlane/release-cred/*.keystore
fastlane/release-cred/*.jks
fastlane/release-cred/*.json
fastlane/report.xml
quixx-smart-board.ipa
quixx-smart-board.app.dSYM.zip
9GF87JZPLL.*
AppStore_ch.frick.quixx-smart-board.mobileprovision

